<%- include('../home.ejs'); -%>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Movie name</th>
        <th scope="col">No .seats booked</th>
        <th scope="col">Amount</th>
        <th scope="col">Movie date</th>
        <th scope="col">Timming</th>
        <th scope="col">Seats allocated</th>
        <th scope="col">Booked by</th>
        <th scope="col">Booked on</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="showtickets"></tbody>
  </table>
</div>

<div id="pagination"></div>

<script>
  var token = localStorage.getItem("token");
  var headers = {};
  headers["Authorization"] = token;
  function show() {
    addHtml = "";
    addHtmlPagination = "";
    $.ajax({
      type: "GET",
      url: "/api/ticket/ticketList?page=1",
      headers: headers,
      success: (res) => {
        if (res.error) {
          alert(res.error);
        } else {
          console.log(res);
          for (var data of res.data) {
            addHtml += `<tr>
        <td>${data.movieName}</td>
        <td>${data.seatBookedNo}</td>
        <td>${data.amount}</td>
        <td>${data.movieDate.split("T")[0]}</td>
        <td>${data.timmingSlot}</td>
        <td>[${data.seatsAllocate}]</td>
        <td>${data.createdBy.name}</td>
        <td>${data.createdAt}</td>
        <td><a class='btn btn-outline-danger' id="${
          data._id
        }" onclick="deletetickect(this.id)">Delete</a></td>
      </tr>`;
          }

          if (res.pages > 0) {
            addHtmlPagination += `<ul class="pagination text-center p-3">`;
            if (res.current == 1) {
              addHtmlPagination += `<li class="disabled"><button id="1" onclick="getPagination(this.id)" class="btn btn-outline-dark">First</button></li>`;
            } else {
              addHtmlPagination += `<li><button id="1" onclick="getPagination(this.id)" class="btn btn-outline-dark">First</button></li>`;
            }
            var count = Number(res.current) > 5 ? Number(res.current) - 4 : 1;
            if (count !== 1) {
              addHtmlPagination += `<li class="disabled"><button class="btn btn-outline-dark">...</button></li>`;
            }
            for (
              ;
              count < Number(res.current) + (res.pages - 1) &&
              count <= res.pages;
              count++
            ) {
              if (count == res.current) {
                addHtmlPagination += `<li class="active"><button id="${count}" onclick="getPagination(this.id)" class="btn btn-outline-dark">${count}</button></li>`;
              } else {
                addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)" class="btn btn-outline-dark">${count}</button></li>`;
              }
              if (
                count == Number(res.current) + (res.pages - 1) &&
                count < res.pages
              ) {
                addHtmlPagination += `<li class="disabled"><button class="btn btn-outline-dark">...</button></li>`;
              }
            }
            if (res.current == res.pages) {
              addHtmlPagination += `<li class="disabled"><button class="btn btn-outline-dark">Last</button></li>`;
            } else {
              addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)" class="btn btn-outline-dark">Last</button></li>`;
            }
          }
          addHtmlPagination += "</ul>";
          document.getElementById("pagination").innerHTML = addHtmlPagination;
          document.getElementById("showtickets").innerHTML = addHtml;
        }
      },
    });
  }
  function deletetickect(id) {
    $.ajax({
      type: "DELETE",
      url: "/api/ticket/ticketdelete?id=" + id,
      headers: headers,

      success: (res) => {
        if (res.error) {
          alert(res.error);
        } else {
          window.location.reload();
        }
      },
    });
  }
  function getPagination(id) {
    addHtml = "";
    $.ajax({
      type: "GET",
      url: "/api/ticket/ticketList?page=" + id,
      headers: headers,
      success: (res) => {
        if (res.error) {
          alert(res.error);
        } else {
          for (var data of res.data) {
            addHtml += `<tr>
        <td>${data.movieName}</td>
        <td>${data.seatBookedNo}</td>
        <td>${data.amount}</td>
        <td>${data.movieDate.split("T")[0]}</td>
        <td>${data.timmingSlot}</td>
        <td>[${data.seatsAllocate}]</td>
        <td>${data.createdBy.name}</td>
        <td>${data.createdAt}</td>
        <td><a class='btn btn-outline-danger' id="${
          data._id
        }" onclick="deletetickect(this.id)">Delete</a></td>
      </tr>`;
          }
          document.getElementById("showtickets").innerHTML = addHtml;
        }
      },
    });
  }
</script>
