<%- include('../home.ejs'); -%>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Movie name</th>
        <th scope="col">No. seats booked</th>
        <th scope="col">Amount</th>
        <th scope="col">Movie date</th>
        <th scope="col">Seats allocated</th>
        <th scope="col">Booked on</th>
      </tr>
    </thead>
    <tbody id="showtickets"></tbody>
  </table>
</div>

<div id="pagination"></div>
<script>
  var token = localStorage.getItem("token");
  var headers = {};
  headers["Authorization"] = token;
  function show() {
    addHtml = "";
    addHtmlPagination = "";
    $.ajax({
      type: "GET",
      url: "<% url%>api/ticket/ticketsbooked?page=1",
      headers: headers,
      // dataType: "json",
      success: (res) => {
        for (var data of res.data) {
          addHtml += `<tr>
        <td>${data.movieName}</td>
        <td>${data.seatBookedNo}</td>
        <td>${data.amount}</td>
        <td>${data.movieDate.split("T")[0]}</td>
        <td>[${data.seatsAllocate}]</td>
                <td>${data.createdAt}</td>
             </tr>`;
        }
        if (res.pages > 0) {
          addHtmlPagination += `<ul class="pagination text-center">`;
          if (res.current == 1) {
            addHtmlPagination += `<li class="disabled"><button id="1" onclick="getPagination(this.id)">First</button></li>`;
          } else {
            addHtmlPagination += `<li><button id="1" onclick="getPagination(this.id)">First</button></li>`;
          }
          var count = Number(res.current) > 5 ? Number(res.current) - 4 : 1;
          if (count !== 1) {
            addHtmlPagination += `<li class="disabled"><button>...</button></li>`;
          }
          for (
            ;
            count < Number(res.current) + 4 && count <= res.pages;
            count++
          ) {
            if (count == res.current) {
              addHtmlPagination += `<li class="active"><button id="${count}" onclick="getPagination(this.id)">${count}</button></li>`;
            } else {
              addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)">${count}</button></li>`;
            }
            if (count == Number(res.current) + 4 && count < res.pages) {
              addHtmlPagination += `<li class="disabled"><button>...</button></li>`;
            }
          }
          if (res.current == res.pages) {
            addHtmlPagination += `<li class="disabled"><button>Last</button></li>`;
          } else {
            addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)">Last</button></li>`;
          }
        }
        addHtmlPagination += "</ul>";
        document.getElementById("pagination").innerHTML = addHtmlPagination;
        document.getElementById("showtickets").innerHTML = addHtml;
      },
    });
  }
  function getPagination(id) {
    addHtml = "";
    $.ajax({
      type: "GET",
      url: "<% url%>api/ticket/ticketsbooked?page=" + id,
      headers: headers,
      // dataType: "json",
      success: (res) => {
        for (var data of res.data) {
          addHtml += `<tr>
        <td>${data.movieName}</td>
        <td>${data.seatBookedNo}</td>
        <td>${data.amount}</td>
        <td>${data.movieDate.split("T")[0]}</td>
        <td>[${data.seatsAllocate}]</td>
                <td>${data.createdAt}</td>
             </tr>`;
        }
        document.getElementById("showtickets").innerHTML = addHtml;
      },
    });
  }
</script>
