<%- include('home.ejs'); -%>

<div class="container">
  <h1 style="text-align: center">Forgot password form</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      onclick="event.preventDefault(); generateotp();"
    >
      Generate otp
    </button>
  </form>
</div>

<div class="container">
  <h1 style="text-align: center">Verify otp</h1>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="vemail"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">New password</label>
      <input
        type="text"
        class="form-control"
        id="npassword"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Otp</label>
      <input
        type="text"
        class="form-control"
        id="otp"
        aria-describedby="emailHelp"
        placeholder="Enter otp"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      onclick="event.preventDefault(); verifyotp();"
    >
      verify otp
    </button>
  </form>
</div>

<script>
  function generateotp() {
    const email = document.getElementById("email").value;
    var data = { email };
    $.ajax({
      type: "POST",
      url: "http://localhost:4005/api/notoken/changepassword",
      data: data,
      dataType: "json",
      success: (res) => {
        if (res.error) {
          alert(res.error);
        } else {
          window.location.reload();
        }
      },
    });
  }
  function verifyotp() {
    const email = document.getElementById("vemail").value;
    const otp = document.getElementById("otp").value;
    const npassword = document.getElementById("npassword").value;
    var data = { email, otp, npassword };
    $.ajax({
      type: "POST",
      url: "http://localhost:4005/api/notoken/verifyotp",
      data: data,
      dataType: "json",
      success: (res) => {
        if (res.error) {
          alert(res.error);
        } else {
          window.location = "/";
        }
      },
    });
  }
</script>
