<%- include('../home.ejs'); -%>

<div class="container">
  <div class="row">
    <div class="col m-4">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="movieFilter"
          placeholder="Enter Movie name"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button
            style="background-color: #d6ae7b"
            class="btn"
            type="button"
            onclick="movieFilter()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">movie name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="showMovies"></tbody>
  </table>
</div>

<div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Movie details</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="card" id="showCard"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="pagination"></div>

<script>
  var token = localStorage.getItem("token");
  var headers = {};
  headers["Authorization"] = token;
  function show() {
    addHtmlPagination = "";
    addHtml = "";
    $.ajax({
      type: "GET",
      url: "<% url%>api/movie/allmovies??page=1",
      headers: headers,
      // dataType: "json",
      success: (res) => {
        for (var data of res.data) {
          // console.log(data);
          addHtml += `<tr>
            <td>${data.name}</td>
            <td><a class='btn btn-info' id="${data._id}" onclick="getmovie(this.id)" data-toggle="modal" data-target="#myModal">details</a></td>
      </tr>`;
        }
        if (res.pages > 0) {
          addHtmlPagination += `<ul class="pagination text-center">`;
          if (res.current == 1) {
            addHtmlPagination += `<li class="disabled"><button id="1" onclick="getPagination(this.id)">First</button></li>`;
          } else {
            addHtmlPagination += `<li><button id="1" onclick="getPagination(this.id)">First</button></li>`;
          }
          var count = Number(res.current) > 5 ? Number(res.current) - 4 : 1;
          if (count !== 1) {
            addHtmlPagination += `<li class="disabled"><button>...</button></li>`;
          }
          for (
            ;
            count < Number(res.current) + 4 && count <= res.pages;
            count++
          ) {
            if (count == res.current) {
              addHtmlPagination += `<li class="active"><button id="${count}" onclick="getPagination(this.id)">${count}</button></li>`;
            } else {
              addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)">${count}</button></li>`;
            }
            if (count == Number(res.current) + 4 && count < res.pages) {
              addHtmlPagination += `<li class="disabled"><button>...</button></li>`;
            }
          }
          if (res.current == res.pages) {
            addHtmlPagination += `<li class="disabled"><button>Last</button></li>`;
          } else {
            addHtmlPagination += `<li><button id="${count}" onclick="getPagination(this.id)">Last</button></li>`;
          }
        }
        addHtmlPagination += "</ul>";
        document.getElementById("showMovies").innerHTML = addHtml;
        document.getElementById("pagination").innerHTML = addHtmlPagination;
      },
    });
  }
  function getmovie(id) {
    var addHtml1 = "";
    $.ajax({
      type: "GET",
      url: "<% url%>api/movie/moviebyid?id=" + id,
      headers: headers,
      // dataType: "json",
      success: (res) => {
        const check = res.data.image;
        if (typeof check == "undefined") {
          addHtml1 += ` <img
            class="card-img-top"
            src=""
            style="width: 150px; height: 100px"
            alt="Card image cap"
          />`;
        } else {
          addHtml1 += ` <img
            class="card-img-top"
            src="${check.split("4005/")[1]}"
            style="width: 150px; height: 100px"
            alt="Card image cap"
          />`;
        }
        addHtml1 += ` 
          <div class="card-body">
            <h5 class="card-title">Movie name: ${res.data.name}</h5>
            <p class="card-text">Description: ${res.data.decription}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Director : ${res.data.director}</li>
            <li class="list-group-item">Producers : ${res.data.producers}</li>
            <li class="list-group-item">Language : ${res.data.language}</li>
            <li class="list-group-item">Casting : ${res.data.casting}</li>
            <li class="list-group-item">Rating : ${res.data.rating}</li>
            <li class="list-group-item">
              ReleaseDate : ${res.data.releaseDate.split("T")[0]}
            </li>
          </ul>

          <a href="/newticket" class="btn btn-danger">Book tickects</a>`;
        document.getElementById("showCard").innerHTML = addHtml1;
      },
    });
  }
  function movieFilter() {
    var name = document.getElementById("movieFilter").value;
    addHtml = "";
    $.ajax({
      type: "POST",
      url: "<% url%>api/movie/moviesearch",
      data: { name },
      headers: headers,
      dataType: "json",
      success: (res) => {
        for (var data of res.data) {
          // console.log(data);
          addHtml += `<tr>
        
        <td>${data.name}</td>
        <td><a class='btn btn-info' id="${data._id}" onclick="getmovie(this.id)" data-toggle="modal" data-target="#myModal">details</a></td>
      </tr>`;
        }
        document.getElementById("showMovies").innerHTML = addHtml;
      },
    });
  }
  function getPagination(id) {
    addHtml = "";
    $.ajax({
      type: "GET",
      url: "<% url%>api/movie/allmovies?page=" + id,
      headers: headers,
      // dataType: "json",
      success: (res) => {
        for (var data of res.data) {
          // console.log(data);
          addHtml += `<tr>
            <td>${data.name}</td>
            <td><a class='btn btn-info' id="${data._id}" onclick="getmovie(this.id)" data-toggle="modal" data-target="#myModal">details</a></td>
      </tr>`;
        }
        document.getElementById("showMovies").innerHTML = addHtml;
      },
    });
  }
</script>
